*{
    font-family: "Noto Sans", serif;
}
.main_page {
    background-image: url("./assets/backgorundimg.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    .overlay {
        background: rgba(0, 0, 0, 0.75);
    }
}